<html>
<head>
<link rel="stylesheet" type="text/css" href="assets/css/styles.css">
</head>
<title>Sujit</title>
<body>
    <div class="main">
        <div class = "container" style="color:green">
            <h1>Recommender System</h1>
            <hr>
        </div>
    </div>

    <div class = "container">  
        
        <form name="input" action="/send" method="POST">
          <div>
            <div class="img">
                <img src="assets/img/toy_story.jpg" width="110" height="90" />
            
                <div class="name">Toy Story: </div>
                <div>
                    <input type="number" name="1" min="0" max="5"/>
                </div>
            </div>
            
            <div class="img">
                <img src="assets/img/golden_eye.jpg" width="110" height="90"/>

                <div class="name">GoldenEye: </div>
                <div>
                    <input type="number" name="2" min="0" max="5"/>
                </div>
            </div>
            
            <div class="img">
                <img src="assets/img/four_rooms.jpg" width="110" height="90"/>

                <div class="name">Four Rooms:</div>
                <div>
                    <input type="number" name="3" min="0" max="5"/>
                </div>
            </div>
            
            <div class="img">
                <img src="assets/img/get_shorty.jpg" width="110" height="90"/>
            
                <div class="name">Get Shorty:</div>
                <div>
                    <input type="number" name="4" min="0" max="5"/>
                </div>
            </div>
            
            <div class="img">
                <img src="assets/img/copy_cat.jpg" width="110" height="90"/>
            
                <div class="name">Copycat: </div>
                <div>
                    <input type="number" name="5" min="0" max="5"/>
                </div>
            </div>

            <div class="img">
                <img src="assets/img/shanghai_triad.jpg" width="110" height="90"/>
            
                <div class="name">Shanghai:</div>
                <div>
                    <input type="number" name="6" min="0" max="5"/>
                </div>
            </div>

            <div class="img">
                <img src="assets/img/twelve_monkey.jpg" width="110" height="90"/>
            
                <div class="name">Twelve Monkeys: </div>
                <div>
                    <input type="number" name="7" min="0" max="5"/>
                </div>
            </div>

            <div class="img">
            <img src="assets/img/bebe.jpg" width="110" height="90"/>
            
                <div class="name">Babe: </div>
                <div>
                     <input type="number" name="8" min="0" max="5"/>
                </div>
            </div>

            <div class="img">
                <img src="assets/img/dead_man_walking.jpg" width="110" height="90"/>
            
                <div class="name">Dead Man Walking:
                </div>
                 <div>
                    <input type="number" name="9" min="0" max="5"/>
                </div>
            </div>

            <div class="img">
                <img src="assets/img/richard.jpg" width="110" height="90"/>

                <div class="name">Richard III: </div>
                <div>
                    <input type="number" name="10" min="0" max="5"/>
                </div>
            </div>

            <div class="img">
                <img src="assets/img/seven.jpg" width="110" height="90"/>
            
                <div class="name">Seven (Se7en): </div>
                <div>
                    <input type="number" name="11" min="0" max="5"/>
                </div>
            </div>

            <div class="img">
                <img src="assets/img/usal_suspects.jpg" width="110" height="90"/>
                
                <div class="name">Usual Suspects, The: </div>
                <div>
                    <input type="number" name="12" min="0" max="5"/>
                </div>
            </div>

            <div class="img">
                <img src="assets/img/mighty_aphrodite.jpg" width="110" height="90" />
            
                <div class="name">Mighty Aphrodite:</div>
                <div> 
                    <input type="number" name="13" min="0" max="5"/>
                </div>
            </div>

            <div class="img">
                <img src="assets/img/postino.jpg" width="110" height="90"/>
            
                <div class="name">Postino, Il:</div>
                <div>
                    <input type="number" name="14" min="0" max="5"/>
                </div>
            </div>

            <div class="img">
                    <img src="assets/img/mr_holland.jpg" width="110" height="90"/>
            
                <div class="name">Mr. Holland's: </div>
                <div>
                    <input type="number" name="15" min="0" max="5"/>
                </div>
            </div>

            <div class="img">
                <img src="assets/img/french_twist.jpg" width="110" height="90"/>
                
                <div class="name">French Twist:</div>
                <div>
                    <input type="number" name="16" min="0" max="5"/>
                </div>
            </div>

            <div class="img">
                <img src="assets/img/dusk_dawn.jpg" width="110" height="90"/>
                
                <div class="name">From Dusk Till Dawn: </div>
                <div>
                    <input type="number" name="17" min="0" max="5"/>
                </div>
            </div>

            <div class="img">
                <img src="assets/img/white_ballon.jpg" width="110" height="90"/>
            
                <div class="name">White Balloon, The: </div>
                <div>
                    <input type="number" name="18" min="0" max="5"/>
                </div>
            </div>

            <div class="img">
                <img src="assets/img/antonia_line.jpg" width="110" height="90"/>
                
                <div class="name">Antonia's Line: </div>
                <div>
                    <input type="number" name="19" min="0" max="5"/>
                </div>
            </div>

            <div class="img">
                <img src="assets/img/angel.jpg" width="110" height="90"/>
                
                <div class="name">Angels and Insects: </div>
                <div>
                    <input type="number" name="20" min="0" max="5"/>
                </div>
            </div>
        </div>

        <div>
            <input type="submit" value="Recommend Me">
        </div>
    </div>

    <div class = "container" style="color:green">
            <hr>
            <strong>Bettle Developer</strong>
            
        </div>
</form> 
</body>
</html>